body {
    color: black;
    background-color: white;
    font-size: 13px;
    font-family: "PT Sans", "Arial", serif;
    /*    font-family: "Cuprum", Arial, sans-serif;*/
    line-height: 24px;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}


.top-header {
    background-color: #293449;
}

.top-header__wrapper {
    display: flex;
}

.logo {
    flex: 0 0 220px;

    margin: 0;

    font-size: 24px;
}

.logo__link:hover,
.footer-logo__link:hover {
    background-color: #ca2c37;
    border-bottom-color: #9a212a;
}

.logo__link:active,
.footer-logo__link:active {
    background-color: #ba2732;
    border-bottom-color: #8e1e26;
}

.logo__link {
    display: block;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-bottom: 9px;
    font-family: "Cuprum", Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    padding: 9px 0px;
    background-color: #ee3643;
    border-bottom: 5px solid #9c2933;
}

.footer-logo__link {
    display: block;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-bottom: 9px;
    font-family: "Cuprum", Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border-bottom: 5px solid #9c2933;
}


.search {
    flex: 0 0 250px;

    display: flex;
}

.search svg {
    fill: #6a7180;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    padding-left: 17px;
}

.search svg:hover {
    fill: #fff;
}

.search svg:active {
    background-color: #fff;
    fill: #ee3643;
}

.search:focus {

    background-color: white;
}


.search__input {
    flex: 1 0 150px;
    background: transparent;
    border: 0;
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
}

.search__input::-webkit-input-placeholder {
    color: white;
}

{}

.search__input:focus {
    background-color: #ffffff;
}

.search__input:hover {
    background-color: #212a3a;
}

.search-button {
    order: -1;

    background: transparent;
    border: 0;
}






.top-header__bookmark {
    margin-left: auto;
}

.top-header__bookmark-link {
    display: block;
    padding: 11px 26px 11px 26px;
    fill: #6a7180;
}

.top-header__bookmark-link svg {
    margin-right: 15px;
}


.top-header__bookmark-link:hover {
    background-color: #212a3a;
    fill: #ffffff;
}

.top-header__bookmark-link:active {
    background-color: #161d29;
    fill: #949aa4;
}




.top-button {
    margin-top: 0;
    margin-bottom: 0;
}


.top-header__cart-link {
    display: block;
    padding: 11px 26px 12px 10px;
    fill: #6a7180;
}

.top-header__cart-link svg {
    margin-right: 15px;
}


.top-header__cart-link:hover {
    background-color: #212a3a;
    fill: #fff;
}

.top-header__cart-link:active {
    background-color: #161d29;
    
}





.feedback-ordering {
    margin: 0;
    background-color: #63a63e;
}

.feedback-ordering a {
    display: block;
}


.bottom-header {
    background-color: #f5f7f9;
    padding-top: 45px;
    padding-bottom: 60px;
}

.bottom-header__wrapper {
    display: flex;
}

.user-menu {
    display: flex;
    margin: 0;
    list-style-type: none;
    margin-top: 14px;
    margin-left: 55px;
}

.user-menu li {
    text-transform: capitalize;

}

.catalog-list__wrapper li {
    width: 220px;
    position: relative;
}

.main-header {
    flex-basis: 320px;
    background-color: #293449;
}


.user-menu-div {
    display: flex;
    flex-direction: row;
}

.main-navigator {
    min-height: 55px;
    margin: 0 auto;
    margin-top: 24px;

}

.site-navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    background-color: #293449;

    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.site-navigator a {
    display: block;
    color: white;
    vertical-align: middle;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #32425c;
}

.site-navigator a:hover {
    background-color: #293449;
}

.site-navigator a:active {
    background-color: #293449;
    color: #93969c;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}


.logo {
    font-size: 24px;
    background-color: #ee3643;
}

header {
    background-color: #f3f7f9;
}

.about-shop {
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-family: "Cuprum", Arial, sans-serif;
    width: 200px;
    font-style: italic;
    margin-left: 53px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.phone-number {
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    font-family: "Cuprum", Arial, sans-serif;
    border: 3px solid white;
    padding: 6px;
    margin-bottom: 7px;
    margin-top: 0px;
}

.phone-number svg {
    fill: #b7bfc8;
    margin-right: 38px;
}

.adress {
    font-size: 14px;
    font-family: "Cuprum", Arial, sans-serif;
    margin-top: 0px;
}

.top-button a,
.search a,
.feedback-ordering a {
    line-height: 18px;
    font-size: 17px;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
}



.user-menu a {
    color: black;
    font-size: 21px;

    font-family: "Cuprum", Arial, sans-serif;
}

.user-services a {
    line-height: 18px;
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
    font-family: "Cuprum", Arial, sans-serif;
}

.products-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    color: white;
    position: absolute;
    top: 13px;
    left: 25px;
    margin: 0px;
}

.products-item-mater::after {
    position: absolute;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="44" height="65" viewBox="0 0 44 65"><g fill="#FFF"><path d="M37.91 30.438v10.869s.105 2.735-2.825 2.735c-3.069 0-3.125-2.735-3.125-2.735v-6.416c0-.24-.336-1.909-2.319-1.909-2.625 0-2.67 1.877-2.67 1.877V54.08s.029 1.863-2.464 1.863C22 55.943 22 53.96 22 53.96V40.016s0-2.945-3.805-2.945c-4.054 0-3.967 3.125-3.967 3.125v3.728s-.121 2.945-4.688 2.945-4.628-4.509-4.628-4.509V29.938C3.168 28.976 0 26.671 0 26.671v29.332S2.988 65 22 65s22-8.695 22-8.695V26.671c-2.938 2.829-6.09 3.767-6.09 3.767z"/><path d="M22 0C1.688 0 0 19.875 0 19.875v3.062C8.438 29.188 22 29 22 29s13.562.188 22-6.062v-3.062C44 19.875 42.312 0 22 0zm0 25c-11.75 0-14.312-2.375-14.312-2.375C13.938 19.75 22 19.875 22 19.875s8.062-.125 14.312 2.75c0 0-2.562 2.375-14.312 2.375zm0-12.375c-9.562 0-17.688 2.938-17.688 2.938C8.875 2.625 22 3.062 22 3.062s13.125-.438 17.688 12.5c0 0-8.126-2.937-17.688-2.937z"/></g></svg>');
    top: 32px;
    right: 42px;
    z-index: 1;
}

.products-item-mater {
    background-color: #ffbf47;
}

.products-item-instr {
    background-color: #3bbce3;
}

.products-item-instr::after {
    position: absolute;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="75" height="61" viewBox="0 0 75 61"><g fill="#FFF"><path d="M5.039 58.949S5.039 61 6.907 61h27.02s2.001-.184 2.001-1.984V47.942H5.039v11.007zM73.875 8.016H60.387c-.621-2.287-2.071-3.891-3.762-3.891h-7.542v12.75h7.542c1.69 0 3.141-1.604 3.762-3.891h13.488c.575 0 1.042-1.112 1.042-2.484s-.467-2.484-1.042-2.484zM2.103 0C.167 0 0 2.041 0 2.041v15.812c0 2.936 2.903 3.002 2.903 3.002h9.007c1.935 0 1.601 1.334 1.601 1.334s-2.469 13.01-2.735 15.211c-.267 2.203-1.868 3.604-1.868 3.604s-2.135 1.201-3.002 1.668-.867 2.201-.867 2.201h30.889v-.734c0-1.467-6.472-3.135-9.073-3.402-2.602-.266-2.068-2.002-2.068-2.002l1.067-7.805h3.002l1.134-7.873h-3.002l.331-2.737 8.609-.131c5.805-.601 10.008-4.07 10.008-4.07V4.109C41.333.84 33.993 0 33.993 0H2.103zM36 4.938v.031c0 .55-.45 1-1 1H5.031c-.55 0-1-.45-1-1v-.031c0-.55.45-1 1-1H35c.55 0 1 .45 1 1z"/></g></svg>');
    top: 32px;
    right: 42px;
    z-index: 1;
}

.products-item-technik {
    background-color: #dc91d8;
}

.products-item-technik::after {
    position: absolute;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78" height="62" viewBox="0 0 78 62"><g fill="#FFF"><path d="M16.125 29.749C7.22 29.749 0 36.968 0 45.875 0 54.78 7.22 62 16.125 62S32.25 54.78 32.25 45.875c.001-8.907-7.219-16.126-16.125-16.126zm0 23.433a7.306 7.306 0 0 1-7.307-7.307 7.307 7.307 0 1 1 14.614 0 7.306 7.306 0 0 1-7.307 7.307zM60.854 45.874a8.062 8.062 0 0 0-8.062 8.062 8.062 8.062 0 1 0 16.124 0 8.06 8.06 0 0 0-8.062-8.062zm0 13.126a5.063 5.063 0 1 1 .002-10.126A5.063 5.063 0 0 1 60.854 59z"/><path d="M77.898 49.727s-2.023-15.102-2.461-18.414c-.547-4.141-3.625-4.688-3.625-4.688L66 25.946V14h-3v5.833h-4v5.295L47.188 23.75S37.438 3.688 36.626 1.875 33.5 0 33.5 0 11.125 2.375 8.75 3 5.312 6.167 5.312 6.167c-2.308 6.37-2.311 17.296-2.266 20.255a23.328 23.328 0 0 1 13.079-3.986c12.944 0 23.438 10.493 23.438 23.439 0 2.438-.373 4.789-1.064 7h10.164c.39-6.402 5.69-11.479 12.191-11.479s11.802 5.077 12.191 11.479H75c3.641 0 2.898-3.148 2.898-3.148zM23.083 19.833h-6.958V6.167h6.958v13.666zm10 0h-6.958V6.167h6.958v13.666zM53.016 36H49v-7h4.016v7zm7 0H56v-7h4.016v7zm7 0H63v-7h4.016v7z"/></g></svg>');
    top: 32px;
    right: 42px;
    z-index: 1;
}

.services-item-sale {
    background-color: #8ed78f;
}

.services-item-sale::after {
    position: absolute;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="59" height="72" viewBox="0 0 59 72"><g fill="#FFF"><path d="M58.34 20.545a2.997 2.997 0 0 0-2.396-1.195h-38.67l-2.475-7.385H3.058a3 3 0 1 0 0 6h7.424l13.5 40.285h25.159a3 3 0 1 0 0-6H28.299l-1.726-5.149h23.12a3.001 3.001 0 0 0 2.884-2.172l6.25-21.75a3.005 3.005 0 0 0-.487-2.634zm-7.781 9.681h-4.81V25.35h6.211l-1.401 4.876zm-17.617 0V25.35h6.807v4.875h-6.807zm6.807 6v4.875h-6.807v-4.875h6.807zM26.942 25.35v4.875h-6.023l-1.634-4.875h7.657zm-4.013 10.876h4.013v4.875h-2.379l-1.634-4.875zm22.82 4.875v-4.875h3.086l-1.401 4.875h-1.685z"/><circle cx="27.406" cy="66.094" r="5.781"/><circle cx="44.844" cy="66.094" r="5.781"/><path d="M29.335 9.699l7.547 5.492a1.986 1.986 0 0 0 2.818-.494c.646-.936.43-2.232-.48-2.895l-2.373-1.726 9.436-5.09L50.911 17h4.347L49.214 1.309A2.051 2.051 0 0 0 48.037.126a1.97 1.97 0 0 0-1.643.109L33.146 7.382l-3.022-2.199a1.986 1.986 0 0 0-2.742.39l-8.481 10.798a2.176 2.176 0 0 0-.405.628h5.106l5.733-7.3z"/></g></svg>');
    top: 32px;
    right: 42px;
    z-index: 1;
}

.services-item-delivery {
    background-color: #ffc047;
}

.services-item-delivery::after {
    position: absolute;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="78" height="63" viewBox="0 0 78 63"><g fill="#FFF"><circle cx="25.983" cy="55.5" r="7.5"/><circle cx="59.982" cy="55.5" r="7.5"/><path d="M64 0H11.062c-3.188 0-3 3.125-3 3.125V8H3.469a3.469 3.469 0 1 0 0 6.938l28.085 1.84.196.043c-.761 3.197-8.938 3.805-8.938 3.805l-8.31.428H5.446a3.375 3.375 0 1 0 0 6.75l23.656 1.254c-.807 3.153-6.29 3.756-6.29 3.756l-14.751.76v15.615c0 3.188 2.564 3.812 2.564 3.812h2.099c1.173-6.261 6.659-11 13.259-11s12.085 4.739 13.259 11h7.404c1.174-6.261 6.66-11 13.26-11 6.601 0 12.086 4.739 13.26 11h1.709C77.812 53 78 48.938 78 48.938v-15.25C78 14.812 64 0 64 0zM52 23.938v-15h10.062l5.75 15H52z"/></g></svg>');
    top: 32px;
    right: 42px;
    z-index: 1;
}

.stock {
    color: white;
    background-color: #808080;
}

.stock h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
}

.stock__wrapper h3 {
    position: absolute;
    top: 5px;
    left: 25px;
    margin: 0px;
    margin-top: 10px;
}

.stock p {
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", Arial, sans-serif;
}

.about-services p {
    display: block;
    width: 370px;
}

.stock__wrapper p {
    position: absolute;
    top: 43px;
    left: 25px;
    margin: 0px;
    margin-top: 10px;
}

/*
.stock a,
.popular-products div a,
.popular-manufacturera div a,
.about-company a,
.contacts a {
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    font-family: "Cuprum", Arial, sans-serif;
}
*/

.popular-products div:nth-child(1),
.popular-manufacturer div:nth-child(1) {
    background-color: #f9f5f0;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
}

.popular-products h3,
.catalog-list h3 {
    color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
}

.popular-products del,
.catalog-list del {
    color: #a9a9a9;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
}

.popular-products b:last-child,
.catalog-list b:last-child {
    color: white;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
}

.about-services {
    font-family: "Cuprum", Arial, sans-serif;
    padding-top: 70px;
}

.about-services h2 {
    font-size: 30px;
    line-height: 30px;
    color: black;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

.about-perforators h2 {
    font-size: 30px;
    line-height: 30px;
    color: black;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

.about-services .list-of-services {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
    list-style-type: none;
    padding: 0px;
}

.about-services h2,
.about-company h2,
.contacts h2,
.about-perforators h2 {
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
}

.about-services p,
.about-company p .contacts p,
.about-perforators p {
    font-size: 13px;
    line-height: 24px;
}

.about-company-items {
    font-size: 18px;
    line-height: 20px;
    font-family: "Cuprum", Arial, sans-serif;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 37px;
    margin-top: 37px;
}

.about-company-items li {
    margin-bottom: 11px;
}

.about-company-items li:before {
    content: ' ';
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 7px;
    border: 1px solid #ee3643;
    width: 25px;
}

.footer-logo {
    font-size: 30px;
    line-height: 30px;
    background-color: #ee3643;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
    width: 220px;
    height: 63px;
    margin: 0px;
}

.main-footer .adress {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-top {
    background-color: #32425c;
}

.footer-top adress,
.footer-navigator a,
.footer-products a {
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-products a {
    color: #ffd180;
}

.footer-products a:hover,
.footer-navigator__wrapper a:hover {
    text-decoration: underline;
}

.footer-products a:active,
.footer-navigator__wrapper a:active {
    text-decoration: none;
    opacity: 0.5;
}


.footer-contacts a:hover {
    text-decoration: underline;
}
.footer-contacts a:active {
    color: #ee3643;
    text-decoration: none;
}


.footer-bottom {
    background-color: #293449;
}

.footer-bottom p {
    font-size: 16px;
    line-height: 18px;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-bottom a {
    color: #ffd180;
}

.filters h2,
.sorting h2,
.sorting ul:first-child {
    font-size: 13px;
    line-height: 18px;
}

.sorting {
    background-color: #f7f3ec;
}

.sorting-type {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #dcd8d2;
    border-bottom: 1px dotted #ee3643;
}

.sorting-type:hover {
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sorting-type:active {
    color: #ee3643;
    border-bottom: none;
}


.disabled-button {
    color: #ee3643;
    border-bottom: none;
}

.footer-bottom {
    display: flex;
}

.trade-mark {
    width: 240px;
}

.footer-contacts {
    width: 140px;
}


.footer-social {
    display: flex;
    justify-content: space-between;
    width: 141px;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}



.products {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.products li {
    width: 300px;
    height: 120px;
    list-style-type: none;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.services li {
    width: 300px;
    height: 120px;
    list-style-type: none;
}

.stock {
    align-self: flex-start;
    width: 620px;
    height: 265px;
}

.items__wrapper {
    margin-bottom: 52px;
}

.stock-services__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    overflow: hidden;
}


.footer-bottom__wrapper {
    display: flex;
    align-items: center;
}

.back-phone {
    display: flex;
    flex-basis: 300px;
    justify-content: space-between;
}

.footer-navigator li,
.footer-products li {
    list-style-type: none;
}

.footer-navigator {}

.footer-navigator__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-left: 0;
}

.footer-navigator__wrapper a {
    color: white;
}

.footer-products {
    display: flex;
    justify-content: space-between;
}



.footer-nav-prod__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 550px;
}

.footer-top__wrapper {
    display: flex;
    justify-content: space-between;

}

.products-item a,
.services-item a,
.all_stocks a {
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

.link {
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

.link_user {
    text-transform: capitalize;
    padding: 14px 15px;
    margin-bottom: 11px;
    background-color: white;
    fill: #c5c5c5;
}

.link_user svg:first-child {
    margin-right: 14px; 
}

.link_user svg:last-child {
    margin-left: 39px; 
}

.link_user:hover {
    fill: #32425c;
}

.link_user:active {
    color: #c5c5c5;
    fill: #c5c5c5;
}






.popular-button {
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

.description-of-services li h3 {
    font-size: 36px;
    line-height: 36px;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
    color: #32425c;
}

.description-of-services li {
    list-style-type: none;
}

.catalog-list__wrapper li:hover .hidden-items {
    display: block;
}


.site-navigator li {
    width: 100%;
    text-align: center;
}

.user-services li {
    list-style-type: none;
}

.user-services a {
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: capitalize;
}

.breadcrumbs a,
.breadcrumbs-current {
    font-size: 13px;
    line-height: 18px;
    color: black;
    text-transform: uppercase;
}

.breadcrumbs li {
    list-style-type: none;
}

.filters-h2__style {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    align-self: center;
    background-color: #f7f3ec;
    padding-left: 18px;
    padding-bottom: 13px;
    padding-top: 13px;
    padding-right: 150px;
}


.filter-legend {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.filter-points,
.radio-style {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.radio-style {
    width: 25px;
    /* Ширина рисунка */
    height: 25px;
    /* Высота рисунка */
    position: relative;
    background-color: white;
}

.filter-points {
    width: 23px;
    /* Ширина рисунка */
    height: 23px;
    /* Высота рисунка */
    position: relative;
    background-color: white;
}

input[type="checkbox"] + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/checkbox-on.svg) no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked + span {
    background: url(../img/checkbox-off.svg) no-repeat;
}


.form-button {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 13px 39px;
    margin-top: 70px;
}

.sorting-points__style {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}



.pagination-item {
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
    padding: 4px 6px;
    margin: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.pagination-item:hover {
    border-color: #e9eced;
}

.pagination-item:active {
    border-color: #f9bcc0;
}

.pagination-list {
    list-style-type: none;
}

.pagination-list li {
    display: inline-block;
    min-width: 38px;
    height: 38px;
    background-color: aqua;
}

.catalog-list {
    list-style-type: none;
}

.catalog-list__wrapper {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}



.manufacturer {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    justify-content: space-between;
}

.manufacturer li {
    margin: 0px;
    min-width: 220px;
    min-height: 145px;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
    text-align: center;
}

.filters {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.filter-catalog__wrapper {
    display: flex;
}

.breadcrumbs {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

.name-page {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #f2f6f8;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 30px;
}

.filters-catalog__wrapper {
    display: flex;
}

.sorting__wrapper {
    display: flex;
    justify-content: space-between;
}

.pagination-item-current {
    background-color: #ee3643;
    color: white;
}

.paginator-next {
    padding-left: 30px;
    padding-right: 30px;
}

.logo-adress__wrapper {
    flex: 0 0 330px;
}

.social-button {
    background-color: #212a3a;
    border: 1px solid #212a3a;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 3px;
    margin-right: 7px;
}

.social-button:hover {
    background-color: #ee3643;
}

.social-button:active {
    background-color: #ee3643;
}


.about-company-contacts__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
    margin-top: 59px;
}

.link-in-main {
    align-self: center;
    align-items: center;
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
    padding: 10px 3%;
    border-radius: 3px;
    background-color: #ee3643;
}

.link-in-main:hover {
    background-color: #ca2c37;
}

.link-in-main:active {
    background-color: #ba2732;
}


.list-description-of-services {
    display: flex;
}


.services-point {
    list-style-type: none;
    background-color: #32425c;
    padding: 20px 0px;
    padding-left: 20px;
    padding-right: auto;
    min-width: 240px;
}

.services-point a {
    color: #ffffff;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
}

.services-point-on {
    background-color: white;
}

.services-point-on a {
    color: #32425c;
}

.about-perforators {
    margin-bottom: 85px;
    padding-top: 70px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    padding-left: 28px;
    padding-right: 28px;
}

.manufacturer-link {}

.stock__wrapper a {
    position: absolute;
    top: 204px;
    left: 25px;
}

.stock__wrapper {
    position: relative;
}



.manufacturer-link img {
    object-fit: contain;
    object-position: center;
}

.stock-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

.stock-button-left {
    left: 25px;
}

.stock-button-right {
    right: 25px;
}

.radio-off {
    position: absolute;
    bottom: 27px;
    left: 296px;
}

.radio-on {
    position: absolute;
    bottom: 27px;
    right: 296px;
}

.products-item {
    position: relative;
}

.services-item {
    position: relative;
}

.prod-serv-link {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.3);
    width: 135px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    bottom: 22px;
    left: 25px;
    border-radius: 6px;
}

.prod-serv-link:hover {
    background-color: #cccccc;
    opacity: 0.3;
    color: rgba(255, 255, 255, 1);
}

.prod-serv-link:active {
    background-color: #b2b2b2;
    opacity: 0.3;
    color: rgba(255, 255, 255, 1);
}

.all_stocks {
    position: relative;
}

.link-user-menu {
    font-size: 21px;
    line-height: 21px;
    color: black;
    font-family: "Cuprum", Arial, sans-serif;
    padding: 14px;
    background-color: white;
    margin-left: 10px;
    fill: #c5c5c5;
}

.link-user-menu svg {
    margin-right: 15px;
}

.link-user-menu:hover {
    color: #ee3643;
    fill: #32425c;
}

.link-user-menu:active {
    color: #000000;
    fill: #c5c5c5;
    opacity: 0.5;
}





.catalog-item__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 317px;
    border: 1px solid #eaeaea;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.catalog-item__wrapper:hover {
    box-shadow:  0 0 10px 5px #ccc;
}

.catalog-item__wrapper h3 {
    order: 1;
    width: 160px;
    text-align: center;
}

.catalog-item__wrapper img {
    order: 0;
}

.catalog-item__wrapper b {
    order: 2;
    width: 141px;
    text-align: center;
}

.prise {
    padding: 12px 0px;
    width: 142px;
    margin: 8px;
    background-image: url(../img/red-button.svg);
    background-repeat: no-repeat;
}

.sorting-button-up {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"><path fill="#ee3643" d="M5.5 0L0 10h11z"/></svg>');
    margin-right: 18px;
}

.sorting-order li {
    list-style-type: none;
}

.sorting-button-down {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="11" height="10" viewBox="0 0 11 10"><path fill="#c5c5c5" d="M5.5 10L0 0h11"/></svg>');
}

.sorting-order {
    display: flex;
    padding: 0px;
    margin-left: 45px;
    margin-right: 18px;
}

.breadcrumbs-main {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12"><g fill="#C1C6CE"><path d="M3 8v4h4V8h2v4h4V8L8 3.516z"/><path d="M14.831 6.365L13 4.751V0h-2v2.987L8.332.635c-.02-.017-.043-.023-.064-.037a.465.465 0 0 0-.08-.047.551.551 0 0 0-.095-.024C8.062.521 8.032.515 8 .515c-.031 0-.061.006-.092.012a.46.46 0 0 0-.095.025c-.028.011-.053.029-.08.046-.021.014-.045.02-.064.037l-6.498 5.73a.501.501 0 0 0 .33.875.497.497 0 0 0 .331-.125L8 1.677l6.169 5.438a.501.501 0 0 0 .662-.75z"/></g></svg>');
}

.breadcrumbs-main-arrow::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="12" viewBox="0 0 8 12"><path fill="#C1C6CE" d="M7.237 5.642L1.729.133a.506.506 0 1 0-.716.716L6.163 6l-5.151 5.15a.507.507 0 0 0 .716.717l5.509-5.509a.504.504 0 0 0 0-.716z"/></svg>');
    margin: 10px;
}

.top-header__cart-link__full {
    background-color: #ee3643;
}

.top-header__cart-link__full::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"><circle fill="#f3737c" cx="4.5" cy="13.5" r="1.5"/><circle fill="#f3737c" cx="12.5" cy="13.5" r="1.5"/><path fill="#f3737c" d="M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z"/></svg>');
}

.top-header__cart__full {
    background-color: #ee3643;
}

.order-link {
    padding: 11px 20px;
}

.order-link:hover {
    background-color: #5fbb2d;
}

.order-link:active {
    background-color: #518534;
}




.user-menu-user {}

.filter-manufacturers {
    margin-bottom: 17px;
}

.manufacturers-checkbox {
    opacity: 0;
}

.items {
    padding-top: 60px;
}



.description-of-services-delivery {
    background-color: #f4f7f9;
    background-image: url(../img/delivery.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 600px;
    height: 261px;
}

.description-of-services-point p {
    display: block;
    width: 250px;
}

.description-of-services-point-guarcantee {
    background-color: #f4f7f9;
    background-image: url(../img/garanty.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 600px;
    height: 261px;
}

.description-of-services-point-credit {
    background-color: #f4f7f9;
    background-image: url(../img/credit.png);
    background-repeat: no-repeat;
    background-position: right;
    width: 600px;
    height: 261px;
}



.checkbox-custom {
    position: relative;
    width: 20px;
    /* Обязательно задаем ширину */
    height: 20px;
}

.manufacturers-bosch-span {
    margin-left: 20px;
}

.radio-battery-span {
    margin-left: 20px;
}

.filter-power-radio {
    opacity: 0;
}

input[type="radio"] + span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/radio-off.svg) no-repeat;
    cursor: pointer;
}

input[type="radio"]:checked + span {
    background: url(../img/radio-on.svg) no-repeat;
}

.filter-power {
    margin-bottom: 10px;
}

.filter-style {
    border: none;
    border-bottom: 1px solid #f6f6f6;
    margin-top: 15px;
    padding: 0px;
}

.filter-style-prise {
    border: none;
}

.filter-style-radio-button {
    border: none;
    margin-top: 15px;
    padding: 0px;
}

.user-services li {
    display: inline-block;
}

.user-services {
    margin-top: 11px;
    padding: 0px;
    margin-left: 15px;
}

.user-services-link {
    background-color: #f1f5f7;
}

.user-services-link:hover {
    color: #ee3643;
}
.user-services-link:active {
    color: #e9edf0;
}




.header-info {
    margin-left: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.container-2 {
    background-color: #f4f8fa;
}

.catalog {
    padding-bottom: 70px;
}

.popular-manufacturer {
    padding-bottom: 70px;
}

.item-link {
    display: inline-block;
    text-decoration: none;
    width: 115px;
    font-size: 14px;
    font-family: "Cuprum", Arial, sans-serif;
    line-height: 18px;
    border: 3px solid #63a63e;
    border-radius: 5px;
    padding: 11px 10px;
    margin-bottom: 7px;
    top: 20px;
    text-transform: uppercase;
    
}

.hidden-buttons {
    position: absolute;
    background-color: white;
    width: 135px;
}

.item-link-mark {
    color: #32425c;
}

.item-link-mark:hover {
    border-color: #32425c;
}

.item-link-mark:active {
    border-color: #d6d9de;
    color: #d6d9de;
}

.item-link-buy {
    background-color: #63a63e;
    color: white;
    fill: #92c178;
    padding-left: 10px;
    box-shadow: 0 3px 0 #367315;
}

.item-link-buy svg {
    margin-right: 22px;
}

.item-link-buy:hover {
    background-color: #5fbb2d;
    border-color: #5fbb2d;
    fill: #fff;
}

.item-link-buy:active {
    background-color: #518534;
    border-color: #518534;
    fill: #fff;
}

.catalog-item-hidden {
    position: absolute;
}

.hidden-items {
    display: none;
    text-align: center;
    position: absolute;
    background-color: white;
    top: 15px;
    left: 10px;
    height: 120px;
    /* width: 135px; */
    max-width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.about-company {
    width: 540px;
}

.contacts {
    width: 300px;
}

.contacts p {
    max-width: 220px;
}

.link-feedback {
    display: block;
    text-align: center;
    width: 300px;
}

.mini-map {
    margin-bottom: 30px;
}

.about-link {
    width: 220px;
    text-align: center;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
}
