body {
    color: black;
    background-color: white;
    font-size: 16px;
    font-family: "Cuprum", Arial, sans-serif;
    line-height: 24px;
}

a {
    text-decoration: none;
}

.main-header,
.container, 
.main-footer {
    display: flex;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.top-header {
    background-color: #293449;
}

.logo {
    font-size: 24px;
    background-color: #ee3643;
}

header {
    background-color: #f3f7f9;
}

.about-shop {
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
}

.phone-number {
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
}

.adress {
    font-size: 14px;
}

.site-navigator {
    font-size: 17px;
    line-height: 17px;
    background-color: #32425c;
}

.top-button,
search,
feedback-ordering {
    line-height: 18px;
    font-size: 17px;
}

.feedback-ordering {
    background-color: #63a63e;
}

.user-menu li a {
    color: black;
    font-size: 21px;
    background-color: white;
}

.user-services li a{
	line-height: 18px;
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
}

.products-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.products-item-mater {
    background-color: #ffbf47;
}

.products-item-instr {
    background-color: #3bbce3;
}

.products-item-technik {
    background-color: #dc91d8;
}

.services-item-sale {
    background-color: #8ed78f;
}

.services-item-delivery {
    background-color: #ffc047;
}

.services li a,
.products li a {
    font-size: 14px;
    line-height: 18px;
}

.stock {
    color: white;
    background-color: #808080;
}

.stock h3 {
    font-size: 36px;
    font-weight: bold;
}

.stock p {
    font-size: 18px;
    line-height: 24px;
}

.stock a,
.popular-products div a,
.popular-manufacturera div a,
.about-company a,
.contacts a {
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
}

.popular-products div:nth-child(1),
.popular-manufacturer div:nth-child(1) {
    background-color: #f9f5f0;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
}

.popular-products h3 {
    color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}

.popular-products del {
    color: #a9a9a9;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
}

.popular-products b:last-child {
    color: white;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    background-color: #ee3643;
}

.about-services {
    background-color: #f4f7f9;
}

.about-services .list-of-services {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
}

.about-services h2,
.about-company h2,
.contacts h2,
.about-perforators {
    font-size: 30px;
    line-height: 30px;
}

.about-services p,
.about-company p .contacts p,
.about-perforators p {
    font-family: "PT Sans", "Arial", serif;
    font-size: 13px;
    line-height: 24px;
}

.list-of-services a {
    font-size: 13px;
    line-height: 24px;
    color: #32425c;
}

.about-company ul li {
    font-size: 18px;
    line-height: 20px;
}

.footer-logo {
    font-size: 30px;
    line-height: 30px;
    background-color: #ee3643;
    color: white;
}

.main-footer .adress {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-top {
    background-color: #32425c;
}

.footer-top adress,
.footer-navigator a,
.footer-products a {
    font-size: 18px;
    line-height: 24px;
}

.footer-products a {
    color: #ffd180;
}

.footer-bottom {
    background-color: #293449;
}

.footer-bottom p {
    font-size: 16px;
    line-height: 18px;
    color: white;
}

.footer-bottom a {
    color: #ffd180;
}

.filters h2,
.sorting h2, 
.sorting ul:first-child {
    font-family: "PT Sans", "Arial", serif;
    font-size: 13px;
    line-height: 18px;
}

.sorting {
    background-color: #f7f3ec;
}

.sorting-type{
    color: #dcd8d2;
    border-bottom: 1px dotted #ee3643;
}

.disabled-button{
    color: #ee3643;
    border-bottom: none;
}
