body {
    color: black;
    background-color: white;
    font-size: 13px;
    font-family: "PT Sans", "Arial", serif;
    /*    font-family: "Cuprum", Arial, sans-serif;*/
    line-height: 24px;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}


.top-header {
    background-color: #293449;
}

.top-header__wrapper {
    display: flex;
}

.logo {
    flex: 0 0 220px;

    margin: 0 5px 0 0;

    font-size: 24px;
}

.logo__link {
    display: block;
    margin-bottom: -5px;
    padding-top: 20px;
    padding-bottom: 9px;
    font-family: "Cuprum", Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #ee3643;
    border-bottom: 5px solid #9c2933;
}


.search {
    flex: 0 0 270px;

    display: flex;
}

.search__input {
    flex: 1 0 150px;
    background: transparent;
    border: 0;
    font-size: 17px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
}

.search__input::-webkit-input-placeholder {
    color: white;
}

{}

.search__input:focus {
    background-color: #ffffff;
}

.search__input:hover {
    background-color: #212a3a;
}

.search-button {
    order: -1;

    background: transparent;
    border: 0;
}


.top-header__bookmark {
    margin-left: auto;
}

.top-header__bookmark-link {
    display: block;
    padding: 12px 20px 12px 40px;
}

.top-button {
    margin-top: 0;
    margin-bottom: 0;
}

.top-header__cart-link {
    display: block;
    padding: 12px 40px 12px 40px;
}


.feedback-ordering {
    margin: 0;
}

.feedback-ordering a {
    display: block;
    padding: 12px 20px;
}


.bottom-header {
    background-color: #f5f7f9;
    padding-top: 45px;
    padding-bottom: 60px;
}

.bottom-header__wrapper {
    display: flex;
    justify-content: space-between;
}

.user-menu {
    display: flex;
    margin: 0;
    list-style-type: none;
}

.user-menu li {
    text-transform: capitalize;
}

.main-header,
.container,
.main-footer {}

.main-header {
    margin-bottom: 60px;
    flex-basis: 320px;
    background-color: #293449;
}

.top-header {
    /*    display: flex;
    flex-direction: row;*/
}

.user-menu-div {
    display: flex;
    flex-direction: row;
}

.main-navigator {
    min-height: 55px;
    margin: 0 auto;

}

.site-navigator {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    background-color: #32425c;
    margin: 0;
    padding: 0;
}

.site-navigator a {
    display: block;
    color: white;
    vertical-align: middle;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}


.logo {
    font-size: 24px;
    background-color: #ee3643;
}

header {
    background-color: #f3f7f9;
}

.about-shop {
    color: #ee3643;
    font-size: 16px;
    line-height: 23px;
    font-family: "Cuprum", Arial, sans-serif;
    width: 180px;
    font-style: italic;
}

.phone-number {
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    font-family: "Cuprum", Arial, sans-serif;
    border: 3px solid white;
}

.adress {
    font-size: 14px;
    font-family: "Cuprum", Arial, sans-serif;
}

.top-button a,
.search a,
.feedback-ordering a {
    line-height: 18px;
    font-size: 17px;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
}

.feedback-ordering {
    background-color: #63a63e;
}

.user-menu a {
    color: black;
    font-size: 21px;
    background-color: white;
    font-family: "Cuprum", Arial, sans-serif;
}

.user-services a {
    line-height: 18px;
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
    font-family: "Cuprum", Arial, sans-serif;
}

.products-name {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    color: white;
}

.products-item-mater {
    background-color: #ffbf47;
}

.products-item-instr {
    background-color: #3bbce3;
}

.products-item-technik {
    background-color: #dc91d8;
}

.services-item-sale {
    background-color: #8ed78f;
}

.services-item-delivery {
    background-color: #ffc047;
}

.stock {
    color: white;
    background-color: #808080;
}

.stock h3 {
    font-size: 36px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
}

.stock p {
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", Arial, sans-serif;
}

.stock a,
.popular-products div a,
.popular-manufacturera div a,
.about-company a,
.contacts a {
    font-size: 14px;
    line-height: 18px;
    background-color: #ee3643;
    font-family: "Cuprum", Arial, sans-serif;
}

.popular-products div:nth-child(1),
.popular-manufacturer div:nth-child(1) {
    background-color: #f9f5f0;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
}

.popular-products h3,
.catalog-list h3{
    color: black;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
}

.popular-products del,
.catalog-list del {
    color: #a9a9a9;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
}

.popular-products b:last-child,
.catalog-list b:last-child {
    color: white;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    background-color: #ee3643;
    font-family: "Cuprum", Arial, sans-serif;
}

.about-services {
    background-color: #f4f7f9;
    font-family: "Cuprum", Arial, sans-serif;
}

.about-services h2 {
    font-size: 30px;
    line-height: 30px;
    color: black;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

.about-perforators h2 {
    font-size: 30px;
    line-height: 30px;
    color: black;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

.about-services .list-of-services {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
    list-style-type: none;
    
}

.list-of-services a {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    font-family: "Cuprum", Arial, sans-serif;
    list-style-type: none;
    color: #32425c;
}

.about-services h2,
.about-company h2,
.contacts h2,
.about-perforators h2{
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
}

.about-services p,
.about-company p .contacts p,
.about-perforators p {
    font-size: 13px;
    line-height: 24px;
}

.about-company-items {
    font-size: 18px;
    line-height: 20px;
    font-family: "Cuprum", Arial, sans-serif;
    list-style-type: none;
}

.footer-logo {
    font-size: 30px;
    line-height: 30px;
    background-color: #ee3643;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
    width: 220px;
    height: 63px;

}

.main-footer .adress {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-top {
    background-color: #32425c;
}

.footer-top adress,
.footer-navigator a,
.footer-products a {
    font-size: 18px;
    line-height: 24px;
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-products a {
    color: #ffd180;
}

.footer-bottom {
    background-color: #293449;
}

.footer-bottom p {
    font-size: 16px;
    line-height: 18px;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
}

.footer-bottom a {
    color: #ffd180;
}

.filters h2,
.sorting h2,
.sorting ul:first-child {
    font-size: 13px;
    line-height: 18px;
}

.sorting {
    background-color: #f7f3ec;
}

.sorting-type {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #dcd8d2;
    border-bottom: 1px dotted #ee3643;
}

.disabled-button {
    color: #ee3643;
    border-bottom: none;
}

.footer-bottom {
    display: flex;
}

.trade-mark {
    width: 240px;
}

.footer-contacts {
    width: 140px;
}


.footer-social {
    display: flex;
    justify-content: space-between;
    width: 141px;
    margin: 0 auto;
    padding: 0;

    list-style: none;
}



.products {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.products li {
    width: 300px;
    height: 120px;
    list-style-type: none;
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.services li {
    width: 300px;
    height: 120px;
    list-style-type: none;
}

.stock {
    align-self: flex-start;
    width: 620px;
    height: 265px;
}

.items__wrapper {
    /*
    display: flex;
    flex-direction: column;
*/
}

.stock-services__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.stock__wrapper p {
    position: absolute;
}

.stock__wrapper h3 {
    position: absolute;
}

.stock__wrapper a {
    position: absolute;
}

.footer-bottom__wrapper {
    display: flex;
    align-items: center;
}

.back-phone {
    display: flex;
}

.footer-navigator li,
.footer-products li {
    list-style-type: none;
}

.footer-navigator {}

.footer-navigator__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-left: 0;
}

.footer-navigator__wrapper a {
    color: white;
}

.footer-products {
    display: flex;
    justify-content: space-between;
}



.footer-nav-prod__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 0 550px;
}

.footer-top__wrapper {
    display: flex;
    justify-content: space-between;

}

.products-item a,
.services-item a,
.all_stocks a {
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

.link {
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

.link_user {
    text-transform: capitalize;
}

.popular-button {
    font-size: 30px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
}

.description-of-services li h3 {
    font-size: 36px;
    line-height: 36px;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
    color: #32425c;
}

.description-of-services li {
    list-style-type: none;
}

.user-services li {
    list-style-type: none;
}

.user-services a {
    font-size: 16px;
    line-height: 18px;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: capitalize;
}

.breadcrumbs a,
.breadcrumbs-current {
    font-size: 13px;
    line-height: 18px;
    color: black;
    text-transform: uppercase;
}

.breadcrumbs li {
    list-style-type: none;
}

.filters-h2__style {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}


.filter-legend {
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.filter-points,
.radio-style {
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.form-button {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting-points__style {
    list-style-type: none;
}



.pagination-item {
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
    vertical-align: middle;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: black;
    padding: 4px 6px;
    margin: 5px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.pagination-list {
    list-style-type: none;
}

.pagination-list li {
	display: inline-block;
    min-width: 38px;
    height: 38px;
    background-color: aqua;
}

.catalog-list {
    list-style-type: none;
}

.catalog-list__wrapper {
    display: flex;
    padding: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-list__wrapper b {
    position: absolute;
}

.manufacturer {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
    justify-content: space-between;
}

.manufacturer li {
	margin: 0px;
    min-width: 220px;
    min-height: 145px;
}

.filters {
    display: flex;
    flex-direction: column;
}

.filter-catalog__wrapper {
    display: flex;
}

.breadcrumbs {
    display: flex;
}

.name-page {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: #f2f6f8;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 30px;
}

.filters-catalog__wrapper {
    display: flex;
}

.sorting__wrapper {
    display: flex;
}

.pagination-item-current {
    background-color: #ee3643;
    color: white;
}

.paginator-next {
    padding-left: 30px;
    padding-right: 30px;
}

.logo-adress__wrapper {
        flex: 0 0 330px;
}

.social-button {
    background-color: #212a3a;
    border: 1px solid #212a3a;
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 3px;
    margin-right: 7px;
}

.about-company-contacts__wrapper {
    display: flex;
}

.link-in-main {
    align-items: center;
    min-height: 38px;
    font-size: 14px;
    line-height: 18px;
    color: white;
    font-family: "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
    padding: 10px 3%;
    border-radius: 3px;
}
